<div class="container-fluid d-flex align-items-center justify-content-center">
    <div class="col">
        <div *ngFor="let gp of charGroup" class="row">
            <div *ngFor="let ch of gp" class="col-3 p-2 g-col-6">
                <div class="row" (click)="NavigateTo(ch.id.toString())">
                    <div class="col">
                        <img class="img-thumbnail" src="{{ch.image}}">
                    </div>
                    <div class="col">
                        <div class="row fw-bold">
                            {{ch.name}}
                        </div>
                        <div class="row">
                            <div class="col">
                                {{ch.species}} - {{ch.status}} <app-status-ball [status]="ch.status"></app-status-ball>
                            </div>
                        </div>
                        <div class="row">
                            <div class="row fw-bold">
                                Last known location: :
                            </div>
                            <div class="col">
                                {{ch.origin.name}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-center" *ngIf="!autoFeed">
            <div class="col-12">
                <button class="btn btn-outline-dark" (click)="autoFeed = true; getMoreItens(); ">
                    Load More
                </button>
            </div>
        </div>
    </div>
</div>