<div class="container-fluid d-flex align-items-center justify-content-center">
    <div class="column">
        <div class="row text-center justify-content-center mt-16">
            <div class="col-6">
                <img src="../../../assets/IMG/episodes.svg" class=" img-thumbnail">
            </div>
            <div class="col-6 text-start">
                <p class="fw-bold">Episode:</p>
                {{info?.episode}}
                <p class="fw-bold">Air Date:</p>
                {{info?.air_date}}
                <p class="fw-bold">Name:</p>
                {{info?.name}}                
            </div>
        </div>
    </div>
</div>