<div class="container-fluid d-flex align-items-center justify-content-center">
    <div class="col">
        <div *ngFor="let gp of epGroup" class="row">
            <div *ngFor="let ep of gp" class="col-3 p-2 g-col-6">
                <div class="row" (click)="NavigateTo(ep.id.toString())">
                    <div class="col">
                        <img src="assets/IMG/episodes.svg" class="img-thumbnail">
                    </div>
                    <div class="col">
                        <div class="row fw-bold">
                            {{ep.episode}}
                        </div>
                        <div class="row">
                            <div class="row fw-bold">
                                Name:
                            </div>
                            <div class="col">
                                {{ep.name}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-center" *ngIf="!autoFeed">
            <div class="col-12">
                <button class="btn btn-outline-dark" (click)="autoFeed = true; getMoreItens();">
                    Load More
                </button>
            </div>
        </div>
    </div>
</div>