<div class="container-fluid d-flex align-items-center justify-content-center">
        <div class="column">
                <div class="row text-center justify-content-center mt-8">
                        <h1>
                                Welcome to Rick & Morty api showcase my Pedro Otto.
                        </h1>
                </div>
                <div class="row text-center">
                        <h2>Characters</h2>
                </div>
                <div class="displayArea">
                        <div *ngFor="let group of charGroup" class="row">
                                <div *ngFor="let char of group" class="col p-2 g-col-6">
                                        <div class="row align-items-center text-center">
                                                <div class="col ">
                                                        <img class="img-thumbnail" src="{{char.image}}">
                                                        <br>
                                                        {{char.name}}
                                                </div>
                                        </div>
                                </div>
                        </div>
                        <app-pagination-menu (emmitedEvent)="handleEvent($event)" [hasPrev]="showCharacters?.info?.prev"
                                [hasNext]="showCharacters?.info?.next"></app-pagination-menu>

                </div>
                <div class="row text-center mt-8">
                        <h2>Locations</h2>
                </div>
                <div class="displayArea">
                        <div *ngFor="let gp of loiGroup" class="row ">
                                <div *ngFor="let lo of gp" class="col p-2 g-col-6">
                                        <div class="col">
                                                <P>{{lo.name}} - {{lo.dimension}}</P>
                                        </div>
                                </div>
                        </div>
                        <app-pagination-menu [hasPrev]="showLocations?.info?.prev"
                                [hasNext]="showLocations?.info?.next"></app-pagination-menu>
                </div>
                <div class="row text-center mt-8">
                        <h2>Episodes</h2>
                </div>
                <div class="displayArea">
                        <div *ngFor="let gp of epGroup" class="row">
                                <div *ngFor="let ep of gp" class="col p-2 g-col-6">
                                        <div class="col">
                                                <p>{{ep.name}} -- {{ep.episode}}</p>
                                        </div>
                                </div>
                        </div>
                        <app-pagination-menu [hasPrev]="showEpisodes?.info?.prev"
                                [hasNext]="showEpisodes?.info?.next"></app-pagination-menu>
                </div>
        </div>
</div>