<div class="container-fluid d-flex align-items-center justify-content-center">
        <div class="column">
                <div class="row justify-content-center">
                        Welcome to Rick & morty api showcase my Pedro Otto.
                </div>

                <div *ngFor="let group of charGroup" class="row">

                        <div *ngFor="let char of group" class="col p-2 g-col-6">
                                <div class="row">
                                        <div class="col">
                                                <img class="img-thumbnail" src="{{char.image}}">
                                        </div>
                                        <div class="col">
                                                {{char.name}} -- {{char.gender}}
                                        </div>
                                </div>

                        </div>

                </div>

                <!-- <ul class="pagination justify-content-center">
                        <li class="page-item">
                                <button> <span class="material-symbols-outlined"> arrow_back</span> </button>
                        </li>
                        
                        <li class="page-item">
                                <button> <span class="material-symbols-outlined"> arrow_forward</span> </button>
                        </li>
                </ul> -->

                <app-pagination-menu [pages]="charPages" [selectedPageIn]="1" (selectedPage)="selectedPage($event)"></app-pagination-menu>
        </div>
</div>